<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<h1 th:text="${zat.name}"></h1>-->
<!--<h2 th:text="${zat.description}"></h2>-->
<!--<h3 th:text="${zat.price}"></h3>-->
<!--<h4 th:text="${zat.itemStatus}"></h4>-->

<!--use form action for post methods to change data-->
<form action="/edit-item" method="post">
    <input type="hidden" th:value="${zat.id}" name="item_id">
    <input type="text" th:value="${zat.name}" name="item_name">
    <input type="text" th:value="${zat.description}" name="item_description">
    <input type="number" th:value="${zat.price}" name="item_price">
    <select name="item_status">
        <option th:each="status : ${statuses}"
                th:value="${status}"
                th:text="${status.message}"
                th:selected="${zat.itemStatus.equals(status)}"></option>
    </select>
    <button>EDIT ITEM</button>
</form>
</body>
</html>